<section>
  <h2>
    technologies
  </h2>
  <label>rechercher :
  </label>
    <input (keyup)="onKey($event)">
  <ul>
    <li  *ngFor="let technologie of technologies">
      <a class="circle" href="{{technologie.url != '' ?  technologie.url : '#'}}">
        <i class="{{technologie.class}}"></i>
        <h3>{{technologie.name}}</h3>
      </a>
      <h4>
        niveau :
        <div class="progress">
          <div class="level-{{technologie.progress}}"></div>
        </div>
      </h4>
    </li>
  </ul>

</section>
