@import "../../scss/color";
section {

  padding-top: 2rem;
  background-color: #4B7E81;

  > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    > li {
      margin: 1rem;
      list-style: none;
      >.circle{
        display: block;
        color: black;
        text-decoration: none;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background-color: #8292DD;

        > i {
          padding-top: 1.5rem;
          font-size: 5rem;
        }
        > h3 {
          margin-top: 0;
        }
        transition: all 1s;
        &:hover {
          > i {
            padding-top: 1.2rem;
            font-size: 5.3rem;
            color: #585858;
          }
        }
      }

      h4 {
        text-align: left;


      }
    }
  }
}
