<section>
  <h2>
    technologies
  </h2>
  <label>rechercher :
  </label>
  <input (keyup)="onKey($event)">
  <input type="range" #progress min="0" max="100" (change)="setRange(progress.value)" value="0">
  <ul>
    <li class="category" *ngFor="let category of categories"
    [ngStyle]="{'background-color': category.color}">
    {{category.name}}
  </li>
  </ul>
  <ul>
    <li  *ngFor="let technologie of technologies">
      <!--<a class="circle" href="{{technologie.url != '' ?  technologie.url : '#'}}" technoStyleByCategory="{{technologie.category}}">-->
      <div class="circle" technoStyleByCategory="{{technologie.category}}">

        <i class="{{technologie.icon}}"></i>
        <h3>{{technologie.name}}</h3>

      </div>
      <!--</a>-->
      <h5>
        niveau :
        <div class="progress">
          <div class="level-{{technologie.progress}}"></div>
        </div>
      </h5>
    </li>
  </ul>

</section>
