<main>
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">

        <nav
        [ngClass]="{'active': isClicked}"
        (click)="isClicked = !isClicked" >
            <i class="menu btn-style fas fa-ellipsis-v"></i>
            <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
            <a routerLink="/works" routerLinkActive="active">Works</a>
            <a routerLink="/technologies" routerLinkActive="active">technologies</a>
            <a routerLink="/contact" routerLinkActive="active">contact</a>
        </nav>
        <a class="btn-style linkedin" href="https://www.linkedin.com/in/quentin-rames-89884a112/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="btn-style weather" routerLink="/weather">
            <i class="fas fa-cloud-sun"></i>
        </a>
        <div [@routeAnimation]="getAnimationData(routerOutlet)">
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
</main>
