<!--The content below is only a placeholder and can be replaced.-->
<main>
  <h1>
    Bienvenue sur mon
    <strong>Portfolio!</strong>
  </h1>
  <h2>Moi c'est Quentin, je suis developpeur WEB full stack et passionné!</h2>
  <h2>A côte, je suis un fan de grimpe que je pratique en club d'escalade. Curieux est ouvert j'adore écouté de la musique de tout les ganres. S'est avec cette même curiosité que j'ai découvert le WEB et j'aime autant le back que le front.</h2>
  <h3>Je vous invite tout de suite a consulter mon portfolio. Il est réalisé avec Angular 7 et Django REST pour les données.</h3>
  <h4>pour information ce site est responsive n'hésitez a le consulter sur vos mobile, tablette...</h4>
  <app-meteo></app-meteo>
  <app-technologies></app-technologies>
  <app-works></app-works>
  <router-outlet></router-outlet>
</main>
