h1 {
  font-size: 3rem;
  padding-bottom: 10vh;
  strong{
    padding: 0 0 10vh 0;
    font-size: 4.3rem;
    display: block;
  }
}
main {
  text-align: center;
}

#photo{
  margin: 0 auto;
  background-size: 200px;
  width: 200px;
  height: 200px;
  background-image: url("../images/quentin.jpg");
  background-attachment: fixed;
  background-attachment: scroll;
  background-position: top;
  border-radius: 150px;
  margin-top: 4vh;
}
