/* You can add global styles to this file, and also import other style files */
@import "./scss/color";
@import "./scss/progress";
body {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Indie Flower', cursive;
  color: $color1;
  background: url("./images/sea.jpg");
  background-size: cover;
  background-attachment: fixed;
}
app-root {
  display: block;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #FFFFFF;
  margin: 5vh auto 0 auto;

}
