<div id="photo"></div>
<h3>Quentin Rames</h3>
<h1>
  Bienvenue sur mon
  <strong>Portfolio!</strong>
</h1>
<h2>Je suis développeur WEB full stack et passionné!</h2>
<h3><i class="fas fa-exclamation-triangle"></i> Je recherche actuellement un poste sur Toulouse <i class="fas fa-exclamation-triangle"></i></h3>
<p class="strong">A côté de mon métier, je suis un fan d'escalade. Si je dois souligner un point commun entre la pratique de l'escalade et du développement c'est LA PROGRESSION. Essayer, recommencer, apprendre… à chaque nouveau pas c'est de nouvelles compétences et ça devient encore plus intéressant. Plus de technique pour plus de réflection ! Je suis très curieux et ouvert. J'adore l'art et tout les genres de musique. C'est avec cette même curiosité que j'ai découvert le WEB et aujourd'hui j'aime autant le back-end que le front-end. Rigoureux j'aime faire des sites jolies et qui fonctionnes bien.</p>
<h3>Je vous invite tout de suite à consulter mon portfolio. Il est réalisé avec Angular 7 et Django REST pour les données.</h3>
<h4>pour information ce site est responsive, n'hésitez à le consulter sur vos mobiles, tablettes...</h4>
